/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav { padding: 0; list-style: none;}
.slides { margin-top: 0 !important; margin-left: 0 !important; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; text-align: center; } 
.flexslider .slides > li img { max-width: 100%; line-height: 0; border-radius: 5px; }
.flexslider .slides.post_slideshow_widget > li { margin-right: 0 !important; }
.flexslider .slides.post_slideshow_widget > li img { margin-bottom: 10px; }
#page_slider.flexslider .slides > li { margin-right: 0 !important; } 
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; position: relative; zoom: 1; margin-top: 0; }
.flexslider.post_carousel { margin-top: 0; }
.flex-viewport { height: 0; max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.flexslider.tg_gallery .slides { line-height: 0; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {height: 0; list-style: none !important;}
.flex-direction-nav a  { border-radius: 5px; display: block; width: 60px; height: 60px; text-align: center; position: absolute; bottom: 63%; z-index: 2; overflow: hidden; opacity: 1; cursor: pointer; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; background: rgba(0,0,0,0.2);
}
.tg_gallery .flex-direction-nav a { bottom: 47%; }

.flex-direction-nav a:hover { opacity: 1; }
#page_slider .flex-direction-nav a { top: 42% !important; }
.slider_widget_wrapper .flex-direction-nav a { top: 34% !important; }
.post_type_gallery .flex-direction-nav a { top: 33%; }
.flex-direction-nav .flex-prev { left: -80px; opacity: 0; }
.flex-direction-nav .flex-next { right: -80px; opacity: 0; }
.slider_wrapper:hover .flex-prev { opacity: 1; left: 2%; }
.slider_wrapper:hover .flex-next { opacity: 1; right: 2%; }

.slider_wrapper .flexslider:hover .flex-prev { opacity: 1; left: 0; }
.slider_wrapper .flexslider:hover .flex-next { opacity: 1; right: 0; }

.flexslider .flex-prev:hover, .flexslider .flex-next:hover { text-decoration: none !important; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "FontAwesome"; font-size: 22px; line-height: 60px; display: block; content: '\f104'; color: #fff; margin-top: 0px; }
.flex-direction-nav a.flex-next:before  { content: '\f105'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; text-align: center; margin: 0 !important; margin-top: 20px !important; }
.flex-control-nav li {margin: 0 4px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 4px; height: 4px; line-height: 7px;   display: inline-block; vertical-align: middle; background: transparent; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; border: 2px solid transparent; background: #ccc; }
.flex-control-paging li a:hover { border-color: #222; background: #222; }
.flex-control-paging li a.flex-active { background: #222; border-color: #222; cursor: default; width: 7px; height: 7px; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}