@media only screen and (min-width: 1600px) {
	#featured_first_post_wrapper iframe,
	body.single #page_caption iframe,
	.post_featured_content_bg.notitle iframe
	{
		max-height: none !important;
	}
}

/**
*
* Widescreen Devices
*
**/
@media only screen and (min-width: 1100px) {
	#page_content_wrapper, .page_content_wrapper, .standard_wrapper, .footer_bar_wrapper, #footer ul.sidebar_widget, .slider_wrapper.fixed_width
	{
		max-width: 1425px;
		width: 100%;
		box-sizing: border-box;
		margin: auto;
		padding: 0 60px;
	}
	
	#page_caption:not(.hasbg)
	{
		max-width: 1305px;
		width: calc(100% - 120px);
	}
	
	#page_content_wrapper.wide, .page_content_wrapper.wide
	{
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	
	.footer_bar_wrapper
	{
		padding-top: 20px;
	}
	
	#page_content_wrapper.fullwidth, .page_content_wrapper.fullwidth
	{
		width: 100%;
		padding: 0;
		max-width: 100%;
	}
	
	.mobile_menu_wrapper .page_content_wrapper
	{
		padding: 0 !important;
	}
	
	#page_content_wrapper .inner .sidebar_content, .page_content_wrapper .inner .sidebar_content
	{
		width: 70%;
	}
	
	#page_content_wrapper .inner .sidebar_content.portfolio, .page_content_wrapper .inner .sidebar_content.portfolio
	{
		width: 73%;
		padding-right: 0;
		border: 0;
	}
	
	#page_content_wrapper .inner .sidebar_wrapper, .page_content_wrapper .inner .sidebar_wrapper, #page_content_wrapper .inner .sidebar_wrapper.left_sidebar
	{
		width: 27%;
	}
	
	#page_content_wrapper .inner #blog_grid_wrapper.sidebar_content
	{
		width: 75%;
		margin-right: 0;
		padding-right: 10px;
		box-sizing: border-box;
	}
}


/* 
#Tablet (Landscape)
================================================== 
*/

@media only screen and (min-width: 960px) and (max-width: 1099px) 
{	
	.fullwidth_comment_wrapper.sidebar .comment .right
	{
		width: 85%;
	}
	
	#toTop
	{
		bottom: 39px;
	}
	
	#close_mobile_menu, #close_search, #close_br2owse
	{
		top: 18px;
		right: 30px;
	}
	
	#featured_first_post_wrapper iframe, body.single #page_caption iframe, .post_featured_content_bg.notitle iframe
	{
		max-height: none !important;
	}
	
	#featured_first_post_wrapper .post_header h2
	{
		width: 100%;
	}
}


/* 
#Tablet (Portrait)
================================================== 
*/

@media only screen and (min-width: 768px) and (max-width: 960px) {
	html body { font-size: 14px; }
	.mobile_menu_wrapper { display: block; }
	#wrapper { padding-top: 1px; }
	.top_bar { width: 100%; padding: 0; }
	#logo_wrapper { padding: 20px 0 12px 0; }
	.logo_container { text-align: left; position: relative; left: 0; }
	.footer_before_widget .footer_logo.logo_wrapper img { max-height: none; margin-top: 0; margin: auto; }
	#logo_wrapper { float: left; padding: 0; }
	.top_bar { border: 0; }
	#page_caption.hasbg { margin-top: 0; }

	.standard_wrapper { width: 100%; padding: 0 30px 0 30px; box-sizing: border-box; }
	.page_content_wrapper .inner { width: 100%; padding: 0; box-sizing: border-box; }
	h1, { font-size: 30px; }
	h2 { font-size: 22px; }
	h3 { font-size: 20px; }
	h4 { font-size: 18px; }
	h5 { font-size: 16px; }
	h6 { font-size: 14px; }
	h7 { font-size: 12px; }
	.service_title h6 { font-size: 20px; }
	#page_caption h1 { font-size: 26px; }
	
	#page_content_wrapper .inner .sidebar_content.full_width, .gallery_mansory_wrapper { width: 100%; }
	#page_content_wrapper .inner .sidebar_content.full_width img, .page_content_wrapper img { max-width: 100%; height: auto; }
	#page_content_wrapper .inner .sidebar_content.full_width#blog_grid_wrapper, #page_content_wrapper .inner .sidebar_content.full_width#galleries_grid_wrapper { width: 00%; }
	#menu_wrapper { width: auto; float: right; border: 0; }
	#page_content_wrapper, .page_content_wrapper, #page_caption .page_title_wrapper { width: 100%; }
	.footer_bar { width: 100%; padding-bottom: 0; }
	#portfolio_filter_wrapper { width: 710px; }
	.page_control_static { display: none !important; }
	#menu_border_wrapper { height: auto; display: none; }
	.gallery_social { opacity: 0; }
	
	#page_content_wrapper .inner .sidebar_content, .page_content_wrapper .inner .sidebar_content, #page_content_wrapper .inner .sidebar_content.portfolio { width: 64%; border: 0; }
	
	.one_half.gallery2 .mask { width: 100%; height: 231px; }
	.one_half.gallery2:hover .mask .mask_circle { margin-top: 28%; }
	.one_half.gallery2 h4 { font-size: 22px; }
	.portfolio2filter_wrapper { margin-right: 30px; }
	.element.classic2_cols { width: 47%; }
	.one_half.gallery2 .mask .mask_circle i { font-size: 28px; line-height: 32px; }
	.one_half.gallery2:hover .mask .mask_circle { width: 28px; height: 28px; margin-top: 24%; }
	
	#page_content_wrapper .inner .sidebar_content.full_width.portfolio3_content_wrapper { width: 780px; }

	.one_third.gallery3:hover .mask .mask_circle { margin-top: 22%; width: 24px; height: 24px; }
	.one_third.gallery3 .mask { width: 100%; height: 100%; }
	.one_third.portfolio3 { height: 390px; }
	.one_third.gallery3 div.thumb_content h3 { font-size: 18px; }
	.element.classic3_cols { width: 31%; }
	
	.one_fourth, .one_fourth.last { width: 100%; margin-right: 0; margin-bottom: 2%; clear: both; }
	.one_fourth.gallery4 { margin: 0; }
	.one_fourth.gallery4 .button.circle img { width: 24px !important; height: 24px !important; }
	.one_fourth.gallery4 .mask { width: 100%; height: 100%; }
	.one_fourth.gallery4:hover .mask .mask_circle { margin-top: 27%; }
	.portfolio_desc.portfolio4 h7 { font-size: 16px; }
	.one_fourth.gallery4 div.thumb_content h3 { font-size: 18px; }
	.portfolio4filter_wrapper { margin-right: 0; }
	.element.classic4_cols { width: 22.5%; }
	
	.one_third_bg, .one_fourth_bg { width: 100%; }
	
	.one_fifth, .one_fifth.last { width: 100%; margin-right: 0; margin-bottom: 2%; clear: both; }
	
	#portfolio_filter_wrapper.shortcode.four_cols.gallery .element { width: 50%; }

	#page_content_wrapper .inner .sidebar_content.full_width.portfolio4_content_wrapper { width: 760px; }

	#page_content_wrapper .inner .sidebar_wrapper { width: 220px; margin: 0; }
	#page_content_wrapper .inner .sidebar_wrapper .sidebar .content { margin: 0; }
	#page_content_wrapper .inner .sidebar_wrapper .sidebar { width: 100%; }
	.social_wrapper ul li img { width: 22px; }

	#page_content_wrapper .inner { width: 100%; margin-top: 40px; } 
	#page_content_wrapper .sidebar .content .posts.blog li img, #page_content_wrapper .posts.blog li img { width: 60px; height: auto; }

	#footer { width: 100%; padding: 40px 30px 40px 30px; box-sizing: border-box; }
	#footer ul.sidebar_widget { width: 100%; margin: auto; }
	#page_content_wrapper { width: 100%; margin-top: 0; padding: 0 30px 0 30px; box-sizing: border-box; }
	#page_content_wrapper.wide { padding: 0; }
	#page_content_wrapper .sidebar .content .posts.blog { float: left; margin-bottom: 20px; width: 100%; }
	.comment { width: 100%; }
	.comment .right { width: 82%; }
	ul.children div.comment .right { width: 78%; }
	#content_wrapper ul.children ul.children { width: 77%; }
	#menu_wrapper .nav ul, #menu_wrapper div .nav { display: none; }

	.social_wrapper { float: none; margin: auto; text-align: center; width: auto; }
	.footer_bar_wrapper .social_wrapper { margin-right: 10px; }
	.social_wrapper ul { margin-top: 2px; }
	.above_top_bar .social_wrapper ul { margin-top: 0; }
	.footer_bar_wrapper { width: 100%; }
	
	#page_content_wrapper .inner .sidebar_content.full_width .post_wrapper.grid_layout .post_img img { width: 100% !important; height: auto !important; }
	
	#page_content_wrapper .inner .sidebar_content { margin-right: 0; margin-top: 0; padding-right: 10px; padding-top: 0; }
	#page_content_wrapper .inner .sidebar_content.left_sidebar { margin-right: 0; padding-top: 0; padding-left: 30px; }
	#page_content_wrapper .inner .sidebar_wrapper, #page_content_wrapper .inner .sidebar_wrapper.left_sidebar { width: 31%; margin-right: 0; }
	#page_content_wrapper .inner .sidebar_wrapper, .page_content_wrapper .inner .sidebar_wrapper { margin-left: 25px; }
	.page_content_wrapper .inner .sidebar_wrapper { width: 34%; margin-top: 20px; }
	#page_content_wrapper .inner .sidebar_wrapper.left_sidebar { margin-right: 0; }
	#page_content_wrapper .inner .sidebar_content.full_width .post_wrapper .post_img img, #page_content_wrapper .inner .sidebar_content .post_wrapper .post_img img { max-width: 100%; height: auto; }

	.post_content_wrapper { width: 100%; }
	#page_content_wrapper .inner .sidebar_content.full_width .post_wrapper.full .post_img img { max-width: 726px; height: auto; }
	.comment .right { width: 54%; }
	ul.children div.comment .right { width: 62%; }

	#footer ul.sidebar_widget li ul.posts.blog li img { width: 50px; }
	.post_circle_thumb { width: 60px; height: 60px; margin-right: 10px; }
	.post_circle_thumb .popular_order { bottom: 0; }
	
	#footer .sidebar_widget.four > li { width: 46%; margin-right: 3%; margin-bottom: 3%; }
	#footer .sidebar_widget.four > li:nth-child(2), #footer .sidebar_widget.four > li:nth-child(4) { width: 46%; margin-right: 0; float: right; }
	#footer .sidebar_widget.four > li:nth-child(3) { clear: both; }
	.portfolio_desc.team h5 { font-size: 20px; }
	.portfolio_desc h6, .portfolio_desc h5 { font-size: 18px; }
	#page_caption.hasbg h1, h1.hasbg { font-size: 30px; }

	.slider_wrapper .flexslider img { max-width: 100% !important; height: auto; }
	
	#page_caption.hasbg h1.withtopbar, h1.hasbg.withtopbar, #page_caption.hasbg.notransparent h1.withtopbar { margin-top: 160px !important; }
	
	#copyright { float: none; width: 100%; margin-bottom: 0; line-height: 23px; }
	input[type=submit].medium, input[type=button].medium, a.button.medium { padding: .3em 1.2em .3em 1.2em; }
	.contact_form_wrapper input[type=text], .contact_form_wrapper input[type=email], .contact_form_wrapper input[type=date] { margin-bottom: 4%; }
	
	#page_content_wrapper .inner .sidebar_content, .page_content_wrapper .inner .sidebar_content { margin-right: 0; }
	#page_content_wrapper .inner .sidebar_content.left_sidebar { border: 0; padding-left: 10px; }
	
	#page_content_wrapper .inner #portfolio_filter_wrapper.sidebar_content { width: 100%; padding: 0; }
	
	#page_content_wrapper .posts.blog li, .page_content_wrapper .posts.blog li { width: 100%; float: none; margin-right: 0; }
	
	#searchform input[type=text] { width: 70%; }
	
	#portfolio_filter_wrapper.gallery.two_cols, .portfolio_filter_wrapper.gallery.two_cols, #portfolio_filter_wrapper.gallery.three_cols, .portfolio_filter_wrapper.gallery.three_cols, #portfolio_filter_wrapper.gallery.four_cols, .portfolio_filter_wrapper.gallery.four_cols
	{
		width: 103%;
	}
	#page_caption h1, .ppb_title, h2.ppb_title
	{
		font-size: 36px;
	}
		
	.extend_top_contact_info { float: right; padding-top: 20px; float: right; margin-left: 7px; }
	.post_header h5, body.single-post .post_header h1 { font-size: 22px; }
	#page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li:before, .page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li:before
	{
		display: none;
	}
	
	#page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li .tweet, .page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li .tweet
	{
		width: 100%;
	}
	
	#page_content_wrapper .sidebar .content .posts.blog li, .page_content_wrapper .sidebar .content .posts.blog li
	{
		margin-bottom: 10px;
	}
	
	#page_content_wrapper .sidebar .content .posts.blog li:last-child, .page_content_wrapper .sidebar .content .posts.blog li:last-child
	{
		margin-bottom: 0;
	}
	
	.post_header:not(.single) h5, body.single-post .post_header_title h1
	{
		font-size: 34px
	}
	
	hr.title_break
	{
		margin-top: 5px;
	}
	
	.two_cols.mixed .post_header h5, .three_cols .post_header h5
	{
		font-size: 20px;
	}
	
	.two_cols.mixed .hentry:first-child .post_header h5
	{
		font-size: 26px;
	}
	
	.top_bar.scroll #mobile_nav_icon
	{
		top: 12px;
	}
	
	.footer_bar_wrapper
	{
		margin-top: 0;
		padding: 20px;
		box-sizing: border-box;
	}
	
	.fullwidth_comment_wrapper .comment .right
	{
		width: 84%;
	}
	
	.flex-direction-nav a
	{
		bottom: 66%;
	}
	
	#toTop
	{
		bottom: 58px;
	}
	
	#mobile_nav_icon
	{
		display: inline-block !important;
	}
	
	blockquote
	{
		font-size: 24px;
	}
	
	#horizontal_gallery_wrapper img.horizontal_gallery_img, .horizontal_gallery_wrapper img.horizontal_gallery_img
	{
		max-height: 400px;
	}1	
	.post_related strong
	{
		font-size: 15px;
	}
	
	#page_caption.hasbg
	{
		height: 400px;
	}
	
	#featured_first_post_wrapper .post_header h2
	{
		width: 100%;
	}
	
	.overlay_background_content_inner
	{
	  	width: calc(100% - 60px);
  	}
  	
  	#close_mobile_menu, #close_search, #close_browse
  	{
	  	top: 20px;
	  	right: 30px;
	  	font-size: 18px;
  	}
  	
  	#featured_posts_wrapper .post_header h4
  	{
	  	font-size: 16px;
  	}
  	
  	#featured_posts_wrapper .post_header h3
  	{
	  	font-size: 22px;
  	}
  	
  	#featured_first_post_wrapper .post_header h2
  	{
	  	font-size: 30px;
  	}
  	
  	body.home .post_filter_wrapper h2
  	{
	  	font-size: 30px;
  	}
  	
  	#post_filter li a
  	{
	  	font-size: 14px;
  	}
  	
  	#page_content_wrapper ul#post_filter
  	{
	  	margin-top: 0;
  	}
  	
  	#post_filter li a
  	{
	  	padding: 5px 15px 5px 15px;
	  	top: -1px;
  	}
  	
  	#page_content_wrapper ul#post_filter
  	{
	  	padding: 5px 0 5px 0;
  	}
  	
  	.post_header:not(.single) h5, body.single-post .post_header_title h1
  	{
	  	font-size: 26px;
  	}
  	
  	#page_content_wrapper .sidebar .content .posts.blog li a, .page_content_wrapper .sidebar .content .posts.blog li a, #footer ul.sidebar_widget .posts.blog li a, .post_related strong
  	{
	  	font-size: 14px;
  	}
  	
  	.post_related strong
  	{
	  	line-height: 1.3em !important;
  	}
  	
  	.post_header.search h5
	{
		font-size: 20px;
		line-height: 1.2em;
	}
  	
  	.social_wrapper ul li a i, .social_wrapper.small ul li a i
  	{
	  	font-size: 14px;
  	}
  	
  	.social_wrapper ul li a i, .social_wrapper.small ul li a i
  	{
	  	margin: 0 4px 10px 4px !important;
  	}
  	
  	.post_header h6, .three_cols .post_header h5, .sidebar_content.two_cols:not(.full_width) .post_header h5
  	{
	  	font-size: 18px;
  	}
  	
  	.post_info_date
  	{
	  	margin-bottom: 10px;
  	}
  	
  	.mashsb-count
  	{
	  	font-size: 40px;
  	}
  	
  	.post_header.search h5
  	{
	  	margin-top: 0;
  	}
  	
  	#page_caption
  	{
	  	width: 100%;
	  	padding: 30px;
	  	box-sizing: border-box;
  	}
  	
  	body #page_caption h1
  	{
	  	font-size: 30px;
  	}
  	
  	#footer_browse_category h2
  	{
	  	font-size: 40px;
  	}
  	
  	.social_wrapper.shortcode ul li, .social_wrapper.small.shortcode ul li 
  	{
	    margin: 0 3px 10px 3px !important;
	}
	
	#page_content_wrapper .sidebar .content .sidebar_widget li.Grand_Magazine_Categoriess ul li a
	{
		min-height: 80px;
		line-height: 80px;
	}
	
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n), .woocommerce-page[class*=columns-] ul.products li.product:nth-child(2n), .woocommerce[class*=columns-] ul.products li.product:nth-child(2n)
	{
		float: left;
	}
}

/*  
#Mobile (Portrait)
================================================== 
*/

@media only screen and (max-width: 767px) {
	body { -webkit-text-size-adjust: none; }
	body { font-size: 13px; }
	#wrapper { padding-top: 1px; }
	.logo_container { text-align: center; position: relative; left: 0; padding: 0; }
	.footer_before_widget .footer_logo.logo_wrapper img { max-height: none; margin-top: 0; margin: auto; }
	
	.top_bar { width: 100%; padding: 0 40px 0 30px;border: 0; }
	#top_contact_hours, #top_contact_number { display: none; }

	.standard_wrapper { width: 100%; padding: 0 30px 0 30px; box-sizing: border-box; }
	.top_bar .standard_wrapper { padding: 0; }

	h1 { font-size: 24px!important; }
	h2 { font-size: 22px; }
	h3 { font-size: 20px; }
	h4 { font-size: 18px; }
	h5 { font-size: 16px; }
	h6 { font-size: 15px; }
	h7 { font-size: 14px; }
	.post_header.grid h6, .post_quote_title.grid { font-size: 16px; }

	#page_caption h1 { font-size: 26px !important; }

	#page_caption .page_title_wrapper { width: 100%; margin: auto; }
	#page_caption { margin: 0; padding-left: 30px; padding-right: 30px; padding-top: 40px; padding-bottom: 40px; box-sizing: border-box; }
	
	#page_content_wrapper .inner .inner_wrapper { padding: 0; }
	#page_content_wrapper .inner .sidebar_content.full_width { width: 100%; margin-top: 15px; margin-bottom: 0; }
	#page_content_wrapper .inner .sidebar_content img { max-width: 100%; height: auto; }
	#page_content_wrapper { width: 100%; margin-top: 0; padding: 0 30px 0 30px; box-sizing: border-box; }
	#page_content_wrapper.wide, .page_content_wrapper.wide { padding: 0; }
	#page_content_wrapper .inner { width: 100%; padding: 0; margin-top: 30px; }
	#page_content_wrapper .inner #page_main_content { margin-top: 0; padding-bottom: 0; margin-bottom: 30px; }
	#page_content_wrapper .inner, { width: 100%; margin: auto; }
	#page_content_wrapper .inner .sidebar_content { width: 100%; margin-top: 0; padding-bottom: 0; float: none; border: 0 !important; }
	#page_content_wrapper .inner .sidebar_content.portfolio, #page_content_wrapper .inner .sidebar_content.portfolio #portfolio_filter_wrapper { padding-top: 0; }
	#page_content_wrapper .inner .sidebar_content.full_width { width: 100%; margin-top: 0; }
	#page_content_wrapper .inner #page_caption.sidebar_content.full_width { padding-bottom: 20px; }
	#page_content_wrapper .inner .sidebar_content.full_width img { max-width: 100%; height: auto !important; }
	#page_content_wrapper .inner .sidebar_wrapper { width: 100%; margin-left: 0; margin-bottom: 0; margin-top: 20px; }
	#page_content_wrapper .inner .sidebar_wrapper .sidebar .content { margin: 0; }
	#page_content_wrapper .inner .sidebar_content.full_width#blog_grid_wrapper, #page_content_wrapper .inner .sidebar_content.full_width#galleries_grid_wrapper { width: 100%; }
	.portfolio_header h6 { width: 31%; font-size: 12px; }
	#page_content_wrapper .inner .sidebar_content img { max-width: 100%; height: auto; }
	.comment { width: 270px; }
	.comment_arrow { display: none; }
	.fullwidth_comment_wrapper .comment .right { width: 66%; margin-left: 15px; }
	.fullwidth_comment_wrapper ul.children div.comment .right { width: 64%; padding: 0; }
	
	ul.children div.comment ul.children div.comment .right { width: 50%; }
	
	#content_wrapper ul.children ul.children { width: 100%; }
	ul.children .comment { margin-left: 0; }
	#content_wrapper ul.children { border: 0; }
	#content_wrapper ul.children ul.children { margin-left: -16px; }
	
	.comment_wrapper #respond { margin-left: 20px; }
	.comment_wrapper ul.children #respond { margin-left: -55px; }
	#menu_wrapper { width: 100%; }
	#menu_border_wrapper { height: auto; display: none; }
	input[type="submit"], input[type="button"], a.button, .button { font-size: 12px; }
	#portfolio_filter_wrapper { width:300px; }
	
	#portfolio_filter_wrapper.two_cols { width: 100%; }
	#portfolio_filter_wrapper.two_cols .element { width: 100%; float: none; }
	.one_half.gallery2, .one_half.portfolio2, .one_half.gallery2 .mask, .one_half.gallery2.filterable { width: 100%; height: auto; margin-bottom: 10%; }
	.one_half.gallery2 .mask { width: 100%; height: 100% !important; }
	.one_half.portfolio2 { margin-bottom: 5%; margin-right: 5%; }
	.one_half.gallery2 .mask .button.circle { margin-top: 30%; }
	.one_half.gallery2 img.blur_effect, .one_half.portfolio2 img.blur_effect { width: 100%; height: auto; }
	.one_half.gallery2 h4 { font-size: 14px !important; }
	.one_half.gallery2:hover .mask .mask_circle { width: 32px; height: 32px; margin-top: 22%; }
	.one_half.gallery2 .mask .mask_circle i { font-size: 30px; line-height: 34px; }
	
	#portfolio_filter_wrapper.three_cols { width: 100%; }
	#portfolio_filter_wrapper.three_cols .element { width: 100%; float: left; margin-right: 0%; margin-bottom: 10%; }
	.one_third.gallery3, .one_third.portfolio3, .one_third.gallery3 .mask, .one_third.gallery3.filterable { width: 100%; height: auto; }
	.one_third.gallery3 .button.circle img { width: 30px !important; height: 30px !important; }
	.one_third.gallery3 .mask { width: 100%; height: 100% !important; }
	.one_third.gallery3 img.blur_effect, .one_third.portfolio3 img.blur_effect { width: 100%; height: auto; }
	.one_third.gallery3 h5 { font-size: 14px !important; }
	.one_third.gallery3:hover .mask .mask_circle { width: 32px; height: 32px; margin-top: 22%; }
	.one_third.gallery3 .mask .mask_circle i { font-size: 30px; line-height: 34px; }
	
	#portfolio_filter_wrapper.four_cols { width: 100%; }
	#portfolio_filter_wrapper.four_cols .element { width: 100%; float: none; margin-right: 0;}
	.one_fourth, .one_fourth.last { width: 100%; margin-right: 0; margin-bottom: 2%; clear: both; }
	.one_fourth.gallery4, .one_fourth.portfolio4, .one_fourth.gallery4 .mask, .one_fourth.gallery4.filterable { width: 100%; height: auto; margin-bottom: 10%; }
	.one_fourth.gallery4 img.blur_effect, .one_fourth.portfolio4 img.blur_effect { width: 100%; height: auto; }
	.one_fourth.gallery4 .mask { width: 100%; height: 100% !important; }
	.one_fourth.gallery4.portfolio_type h6 { margin-top: 34%; }
	.one_fourth.gallery4:hover .mask .mask_circle { width: 32px; height: 32px; margin-top: 22%; }
	.one_fourth.gallery4 .mask .mask_circle i { font-size: 30px; line-height: 34px; }
	
	#page_content_wrapper .inner .sidebar_content.full_width.portfolio3_content_wrapper, #page_content_wrapper .inner .sidebar_content.full_width.portfolio4_content_wrapper { width: 300px; }
	.one_third.portfolio3_wrapper, .one_fourth.portfolio4_wrapper { width: 100%; clear: both; }
	
	.post_header { width: 100%; }
	.post_header h5, .post_header:not(.single) h5 { font-size: 26px; }
	blockquote { width: 100%; margin: 0; font-size: 22px; }

	.nav_wrapper_inner { padding-top: 10px; }
	#respond { width: 100%; }
	.post_wrapper { width: 100%;; margin-top: 0; }
	#nav_wrapper { display: none; }

	#footer { padding-top: 20px; padding-bottom: 0; }
	#page_content_wrapper .inner .sidebar_wrapper .sidebar { width: 100%; }

	#photo_wall_wrapper { width: 300px; }
	#footer { width: 100%; }
	#footer ul.sidebar_widget { margin-left: 10px; }
	#footer ul.sidebar_widget { width: 100%; float: none; margin: auto; padding: 0 30px 0 30px; box-sizing: border-box; }
	#footer .sidebar_widget.four > li, #footer .sidebar_widget.three > li, #footer .sidebar_widget.two > li, #footer .sidebar_widget.one > li, #footer .sidebar_widget.four > li:nth-child(4), #footer .sidebar_widget.three > li:nth-child(3), #footer .sidebar_widget.two > li:nth-child(2) { width: 100%; margin-right: 0; margin-bottom: 20px; }
	.footer_bar { margin-bottom: 0; }
	#copyright { width: 100%; }
	.social_wrapper { float: none; margin: auto; text-align: center; width: auto; }

	.footer_bar_wrapper { width: 100%; }
	#copyright { float: left; width: 100%; padding: 0 30px 0 30px; box-sizing: border-box; }
	.one_third, .one_third.last, .one_third.pricing, .one_fourth.pricing { width: 100%; margin-bottom: 3%; margin-right: 0; }
	.post_related .one_third { margin-bottom: 20px; }
	.one_third.pricing { margin-bottom: 25px; }
	.two_third, .two_third.last { width: 100%; margin-bottom: 3%; }
	
	#footer .sidebar_widget.four > li { margin-bottom: 20px; }
	.post_content_wrapper { width: 100%; }
	ul.children div.comment .right { width: 86%; }

	.one.fullwidth .page_content_wrapper { padding: 0; }
	.page_content_wrapper.nopadding { padding: 0 !important; }
	#page_content_wrapper .inner .sidebar_content.full_width.portfolio4_content_wrapper, .page_content_wrapper.portfolio4_content_wrapper { width: 100% !important; }
	
	.one_fourth, .one_fourth.last { width: 100%; margin-right: 0; }

	.post_img img { max-width: 100% !important; height: auto; }

	#page_content_wrapper .inner .sidebar_wrapper.left_sidebar { width: 100%; margin-right: 0; margin-bottom: 25px; }
	.post_header.full, .post_excerpt_full { width: 96%; }
	#page_content_wrapper .inner .sidebar_content.full_width#blog_grid_wrapper { width: 100%; }
	
	.one_half, .one_half.last { width: 100%; float: none; clear: both; margin-bottom: 15px; }
	
	#social_share_wrapper, .social_share_wrapper { margin-top: 30px; }
	
	#page_content_wrapper .posts.blog li { width: 100%; }
	body.single .post.type-post { float: none; }
	.post_header h6 { font-size: 16px; }
	#about_the_author .description { width: 180px; }
	
	.social_wrapper.shortcode ul li { margin: 5px; }
	.one_fifth { width: 100%; float: none; }

	.footer_bar_wrapper .social_wrapper ul { margin-top: 0; }
	.above_top_bar .page_content_wrapper { margin: 0; margin: auto; }
	.above_top_bar .top_contact_info { width: 100%; float: none; margin: auto; text-align: center; border: 0; }
	.above_top_bar .top_contact_info span { border: 0; }
	.above_top_bar .social_wrapper { display: none; }

	.footer_bar_wrapper .social_wrapper { width: 100%; text-align: center; float: none; margin: 0 0 10px 0; }
	.footer_bar_wrapper .social_wrapper ul li { float: none; display: inline-block; margin: 0 5px 0 5px; }

	.comment .right { width: 100%; margin-left: 0; padding: 0 0 15px 0; }
	
	.three_cols.gallery .element, .four_cols.gallery .element, #photo_wall_wrapper .wall_entry, .photo_wall_wrapper .wall_entry, #photo_wall_wrapper .wall_entry.three_cols, #photo_wall_wrapper .wall_entry.four_cols, .photo_wall_wrapper .wall_entry.four_cols { width: 100%; margin-right: 0%; }
	.page_content_wrapper .inner, .standard_wrapper { width: 100%; }
	
	.one_half_bg, .one_third_bg, .two_third_bg, .one_fourth_bg { width: 100%; padding: 30px !important; }
	.one_half_bg.nopadding, .two_third_bg > div, .one_half_bg > div, .one_third_bg > div, .one_fourth_bg > div { padding: 0 !important; }
	.one .page_content_wrapper.withbg { max-height: 300px; }

	#page_content_wrapper .inner .sidebar_content, .page_content_wrapper .inner .sidebar_content, #page_content_wrapper .inner .sidebar_content.portfolio { width: 100%; margin-right: 0; border: 0; margin-bottom: 30px; float: left; padding-right: 0; }
	#page_content_wrapper .inner .sidebar_content.left_sidebar, .page_content_wrapper .inner .sidebar_content.left_sidebar { width: 100%; float: none; padding: 0; margin-left: 0;  }
	#page_content_wrapper .inner .sidebar_wrapper, .page_content_wrapper .inner .sidebar_wrapper { width: 100%; float: none; margin: 0; clear: both; padding: 0; }

	.page_content_wrapper.fullwidth #portfolio_filter_wrapper.gallery, #page_content_wrapper.fullwidth #portfolio_filter_wrapper.gallery, .page_content_wrapper.fullwidth .portfolio_filter_wrapper.gallery, #page_content_wrapper.fullwidth .portfolio_filter_wrapper.gallery { width: 100%; margin: 0; }
	#page_content_wrapper .inner #portfolio_filter_wrapper.sidebar_content { width: 100%; }
	
	.page_content_wrapper .inner > div { width: 100% !important; }
	#page_content_wrapper .inner #blog_grid_wrapper.sidebar_content, #blog_grid_wrapper.sidebar_content:not(.full_width) .post.type-post { width: 100%; margin-right: 0; }
	
	#page_content_wrapper .inner .sidebar_content.full_width img, .page_content_wrapper img{ max-width: 100%; height: auto; }
	#footer_menu { float: left; width: 100%; padding: 0 30px 0 30px; box-sizing: border-box; }
	#footer_menu li:first-child { margin-left: 0; }
	
	.animate, .animated, .gallery_type, .portfolio_type, .fadeIn, .bigEntrance, .post_img.fadeIn, .post_img.grid.fadeIn { -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; opacity: 1; visibility: visible; }
  
  #page_content_wrapper .inner #blog_grid_wrapper.sidebar_content.left_sidebar { padding-left: 0; }
  
   	#page_caption.hasbg .post_detail, #page_caption.hasbg .post_detail a, #page_caption.hasbg .post_detail a:hover, #page_caption.hasbg .post_detail a:active, .page_tagline { font-size: 11px; }
  	.extend_top_contact_info { float: right; padding-top: 20px; float: right; margin-left: 7px; }
  	#searchform input[type=text] { width: 71%; }
  	#page_content_wrapper .inner .sidebar_content #commentform p.comment-form-author, #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-email, #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-url { width: 100%; box-sizing: border-box; }
  	
  #logo_wrapper
  {
	  text-align: center;
	  border: 0;
	  padding: 28px 0 0 0;
  }
  
  #logo_wrapper .social_wrapper 
  { 
  	display: none; 
  }
	
  .footer_photostream li
  {
      width: 25%;
  }
  
  .post_excerpt
  {
      width: 100%;
  }
  
  #horizontal_gallery, .horizontal_gallery
  {
      opacity: 1 !important;
  }
  
  #horizontal_gallery_wrapper img.horizontal_gallery_img, .horizontal_gallery_wrapper img.horizontal_gallery_img
  {
      max-height: 200px !important;
  }
  
  .top_bar.scroll #logo_wrapper
  {
      display: none !important;
  }
  
  .textwidget img
  {
      text-align: center;
  }
  
  .mobile_menu_wrapper
  {
      width: 270px;
      padding: 30px;
  }
  
  #close_mobile_menu
  {
	  top: 25px;
  }
  
  .mobile_main_nav li.menu-item-has-children > a:after
  {
      left: 230px;
  }
  
  .mobile_menu_wrapper #searchform input[type=text]
  {
      width: 70%;
  }
  
  .mobile_menu_wrapper .sidebar .content .sidebar_widget li ul.flickr li
  {
      width: 50%;
  }
  
  .fullscreen_share_content #social_share_wrapper ul li a i
  {
      font-size: 1.2em;
      line-height: 40px;
  }
  
  .fullscreen_share_content #social_share_wrapper ul li
  {
      margin: 0 10px 0 10px;
  }
  
  body.js_nav #overlay_background 
  {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-270px,0px);
    -moz-transform: translate(-270px,0px);
    transform: translate(-270px,0px);
  }
  
  .pagination
  {
  	  margin-top: 20px;
	  margin-bottom: 20px;
  }
  
  #page_content_wrapper .inner .sidebar_content.two_cols .post.type-post, #page_content_wrapper .inner .sidebar_content.two_cols .post.type-post[data-column=last], #page_content_wrapper .inner .sidebar_content.three_cols .post.type-post, #page_content_wrapper .inner .sidebar_content.three_cols .post.type-post[data-column=last]
  {
	  width: 100%;
	  float: left;
	  clear: both;
	  margin-right: 0;
  }
  
  .post_share_text
  {
	  float: none;
	  clear: both;
	  margin: auto;
  }
  
  .post_excerpt.post_tag
  {
	  margin-top: 0px;
	  margin-bottom: 15px;
	  text-align: center;
  }
  
  #about_the_author
  {
	  text-align: center;
	  clear: both;
	  margin-top: 0px;
	  padding: 25px;
  }
  
  #about_the_author .author_detail
  {
	  width: 100%;
  }
  
  #about_the_author .gravatar
  {
	  float: none;
	  margin: auto;
	  margin-bottom: 20px;
  }
  
  .post_related .post_header
  {
	  margin-bottom: 0;
  }
  
  .fullwidth_comment_wrapper.sidebar .comment .right, .fullwidth_comment_wrapper .comment .right
  {
	  margin-left: 0;
	  margin-top: 10px;
	  width: 100%;
  }
  
  .comment .gravatar
  {
	  margin: auto;
	  float: none;
  }
  
  #option_btn
  {
	  top: 130px;
  }
  
  .footer_photostream_wrapper
  {
	  margin-top: 0;
  }
  
  .flex-direction-nav a
  {
	  bottom: 72%;
  }
  
  .slider_wrapper.fixed_width:hover .flex-direction-nav .flex-prev
  {
	  left: 0;
  }
  
  .slider_wrapper.fixed_width:hover .flex-direction-nav .flex-next
  {
	  right: 0;
  }
  
  #mobile_nav_icon
  {
	  display: inline-block !important;
  }
  
  #post_info_bar #post_info_share, #post_info_bar #post_info_comment
  {
	  display: none;
  }
  
  .footer_bar_wrapper .social_wrapper ul
  {
	  text-align: center;
  }
  
  .two_cols.mixed .hentry:first-child .post_header h5, .post_header h6, .three_cols .post_header h5, .sidebar_content.two_cols:not(.full_width) .post_header h5, .sidebar_content.three_cols:not(.full_width) .post_header h5, #featured_posts_wrapper .post_header h3, #featured_posts_wrapper .post_header h4, .post_header h6, .two_cols .post_header h5, .post_header.search h5, .post_header h6, .three_cols .post_header h5, .blog_f.full_width .post_header.search h5, .post_related strong, .sidebar_content.full_width .post_more .post_header.search h5
  {
	  font-size: 22px;
	  line-height: 1.3em;
  }
  
  .post_header.search .post_img.one_third
  {
	  margin-bottom: 20px;
  }
  
  #menu_wrapper .social_wrapper
  {
	  max-width: 30%;
	  top: 12px;
  }
  
  #menu_wrapper .social_wrapper ul li a i
  {
	  line-height: 28px;
  }
  
  #featured_first_post_wrapper .post_header h2
  {
	  width: 100%;
	  font-size: 22px;
  }
  
  body.home .post_filter_wrapper h2
  {
	  font-size: 30px;
	  margin: 10px 0 10px 0;
	  width: 100%;
	  text-align: center;
  }
  
  #featured_posts_wrapper .post_header h4,
  {
	  font-size: 20px;
  }
  
  .logo_align
  {
	  display: block;
  }
  
  #logo_right_button
  {
	  float: none;
	  width: 100%;
	  text-align: center;
	  padding: 0;
  }
  
  body.js_nav #side_menu_wrapper
  {
	  -webkit-transform: translate(-270px,0px);
	  -moz-transform: translate(-270px,0px);
	  transform: translate(-270px,0px);
	  opacity: 1;
	  visibility: visible;
	  z-index: 9;
  }
  
  .overlay_background_content_inner
  {
	  width: calc(100% - 60px);
  }
  
  #close_mobile_menu, #close_search, #close_browse
  {
	  top: 20px;
	  right: 30px;
  }
  
  .one_sixth
  {
	  width: 31.2%;
	  margin-right: 2%;
	  margin-bottom: 2%;
  }
  
  .one_sixth.last
  {
	  margin-right: 0 !important;
	  float: right;
	  width: 30.99%;
  }
  
  #page_content_wrapper ul#post_filter
  {
	  border: 0;
	  background: transparent;
  }
  
  #post_filter li
  {
	  margin: 10px 0 10px 0;
  }
  
  .post_filter_wrapper
  {
	  margin-bottom: 30px;
  }
  
  #footer_browse_category h2
  {
	  font-size: 40px;
  }
  
  #toTop
  {
	  bottom: 20px;
  }
  
  .overlay_background_wrapper, .overlay_background_content
  {
	  display: block;
  }
  
  #post_filterable_wrapper.three_cols .two_third.post_header
  {
	  width: 65.33%;
  }
  
  #post_filterable_wrapper.three_cols .one_third.last
  {
	  width: 30.99%;
  }
  
  #page_content_wrapper .inner .sidebar_content.three_cols .type-post
  {
	  width: 100%;
	  margin-right: 0;
	  margin-bottom: 30px;
  }
  
  .post_header.mixed
  {
	  margin-bottom: 0;
  }
  
  .mashsb-count
  {
	  font-size: 40px;
  }
  
  .fullscreen_share_content #social_share_wrapper ul li a
  {
	  width: 40px;
	  height: 40px;
  }
  
  .type-post
  {
	  margin-bottom: 40px;
  }
  
  #page_content_wrapper .inner .sidebar_content.two_cols .type-post, #page_content_wrapper .inner .sidebar_content.two_cols .type-post[data-column=last]
  {
	  width: 100%;
	  margin-right: 0;
	  margin-bottom: 40px;
  }
  
  #featured_posts_wrapper
  {
	  padding-top: 20px;
  }
  
  #loading_wrapper .loading_indicator
  {
	  top: 100px;
  }
  
  .post_header
  {
	  margin-bottom: 0;
  }
  
  body.single .post_editor .two_third.post_header
  {
	  width: 65.33%;
  }
  
  body.single .post_editor .one_third.last
  {
	  width: 30.99%;
  }
  
  #page_caption.hasbg .page_title_wrapper
  {
	  bottom: 20px;
  }
  
  body #page_caption
  {
	  width: 100%;
	  border: 0;
	  padding-top: 30px;
	  padding-bottom: 0;
  }
  
  body.single .sidebar_content.full_width .post_editor .post_header:not(.single) h5, #footer ul.sidebar_widget .posts.blog li a, .page_content_wrapper .sidebar .content .posts.blog li a, #page_content_wrapper .sidebar .content .posts.blog li a
  {
	  font-size: 16px;
  }
  
  .review-star.review-total
  {
	  position: relative;
	  width: 100%;
	  margin-bottom: 20px;
  }
  
  .review-star.review-total .review-result-wrapper
  {
	  text-align: Center;
  }
  
  .review-total-wrapper span.review-total-box
  {
	  padding: 0;
	  margin-bottom: 0;
  }
  
  body.author #page_caption .page_title_wrapper .page_title_inner
  {
	  margin-top: 20px;
  }
  
  #page_caption .return_home
  {
	  display: none;
  }
  
  input[type=submit], input[type=button], a.button, .button
  {
	  padding: .9em 1.5em .7em 1.5em;
  }
  
  .search_form_wrapper #searchsubmit
  {
	  top: -3px;
	  padding: .9em 1.5em .7em 1.5em;
  }
  
  .search_form_wrapper .searchform input[type=text]
  {
	  width: calc(100% - 56px);
  }
  
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce .related ul.products li.product, .woocommerce .related ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .upsells.products ul.products li.product, .woocommerce-page .upsells.products ul li.product
  {
	  width: 100% !important;
	  margin-right: 0;
	  margin-bottom: 30px;
  }
}

/* 
#Mobile (Landscape)
================================================== 
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	body { -webkit-text-size-adjust: none; }
	#page_caption h1
	{
		font-size: 26px !important;
	}
}